.blog {
      box-sizing: border-box;
      padding: 50px 0;

      & .container {
            display: flex;
            justify-content: space-between;

            @media #{$tablet} {
                  flex-wrap: wrap;
            }
      }

      &_articles {
            width: 50%;
            margin-right: 40px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            @media #{$tablet} {
                  width: 100%;
                  margin: 0 0 40px 0;
            }
            
            & article:first-of-type {
                  background: #007ef9;
                  padding: 20px 30px;
                  margin: 40px 0;
                  width: 100%;

                  & p {
                        @include article-text;
                  }
            }

            & article:nth-of-type(2),
            & article:nth-of-type(3) {
                  background: #b9b8b830;
                  width: calc(50% - 20px);
                  padding: 20px 30px;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;

                  @media #{$mobile} {
                        padding: 10px 0;
                  }

                  & span {
                        @include date;
                        color:  #353535;
                  }

                  & h4 {
                        @include article-title;
                        color:  #353535;
                  }
            }

            & article:nth-of-type(3) {
                  background: #000;

                  & span {
                        color: #fff;
                  }

                  & h4 {
                        color: #fff;
                  }
            }
      }

      &_articles-aside {
            width: 50%;
            align-self: flex-end;

            @media #{$tablet} {
                  width: 100%;
            }

            & article:first-child {
                  background-image: url('/images/blog_bg.png');
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 20px 30px;

                  & span {
                        @include date;
                        color:  #ffffff;
                  }

                  & h4 {
                        @include article-title;
                        color:  #ffffff;
                        margin-bottom: 0;
                        padding-top: 205px;
                  }

                  & p {
                        @include article-text;
                  }
            }

            & article:last-child {
                  background: #e91d62;
                  margin-top: 40px;
                  display: flex;
                  flex-direction: column;
                  align-items: center;
                  padding: 20px 30px;

                  & span {
                        @include date;
                        color:  #ffffff;
                  }

                  & h4 {
                        @include article-title;
                        color:  #ffffff;
                        margin: 10px;
                  }

                  & p {
                        @include article-text;
                  }
            }
      }

      &_title {
            @include title;
            color: $headers-color;
            width: 100%;
            padding: 20px 0;
            margin: 0;
      }

      &_text {
            @include subtitle;
            width: 100%;
            margin: 0 0 20px 0;
      }

      &_description {
            color:  $headers-color;
            font-size: 17px;
            font-weight: 400;
            line-height: 30px;
            text-align: left;
      }
}