.profile {
      display: flex;
      flex-direction: column;
      align-items: center;


      &_title {
            @include title;
            width: 100%;
            text-align: center;
            margin: 20px 0;
      }

      &_text {
            @include subtitle;
            width: 100%;
            text-align: center;
            margin: 0 0 20px 0;
      }
      &_gallery {
            width: 100%;
            display: grid;
            grid-template-columns: (4, 25%);
            grid-template-areas:
                  "item1 item1 item4 item5"
                  "item2 item3 item4 item6";

            @media (max-width: 560px) {
                  grid-template-columns: (2, 50%);
                  grid-template-areas:
                          "item1 item1"
                          "item2 item3"
                          "item4 item5"
                          "item4 item6";
            }

            @for $i from 1 through 6 {

                  &-item#{$i} {
                        grid-area: item#{$i};

                        & img {
                              width: 100%;
                        }
                  }
            }

            &-item1 img {
                  height: 100%;

                  @media (max-width: 560px) {
                        height: inherit;
                  }
            }

            &-item3 img {
                  height: 100%;
            }
      }
}